$font-stack: 'Nunito', sans-serif;
$H1-fontSize: 48px;
$H2-fontSize: 36px;
$H3-fontSize: 24px;
$H4-fontSize: 16px;
$p-fontSize: 14px;
$color1: #0d1b2a;
$color2: #1b263b;
$color3: #415a77;
$color4: #778da9;
$color5: #E0E1DD;

body {
  font-family: $font-stack;
}

.App-title {
  position: absolute;
  font-size: $H1-fontSize;
  color:#E0E1DD;
  top: -10px;
  left: 95px;
}

.fill {
  background: #0D1B2A;
  width: 100%;
  height: 100px;
  z-index: 1001;
}

.App-logo {
  position: absolute;
  top: 0px;
  left: 400px;
}

.App-download {
  fill: #E0E1DD;
  position: absolute;
  top: 23px;
  right: 240px;
  cursor: pointer;
}

.login-buttonText {
  color: #E0E1DD;
  position: absolute;
  font-size: $H3-fontSize;
  top: 10px;
  margin-left: 17px;
}

.login-button {
  position: absolute;
  width: 200px;
  height: 50px;
  right: 20px;
  top: 25px;

  background: #415A77;
  border-radius: 15px;
}

.App-menu {
  fill: #E0E1DD;
  position: absolute;
  top: 30px;
  left: 25px;
}

#i-loading{
  z-index: 1000;
  top: 100px;
}
#menu-left{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  .modal-content{
    height: 100%;
    border-radius: 0;
  }
  .list-group-item{
    padding: 10px;
    a{
      cursor: pointer;
    }
  }
}
.form {
  margin: 0 auto;
  padding: 0px 10px 0;

  @media (min-width: 800px) {
    max-width: 60%;
  }
}

.input-range {
  margin-bottom: 60px;
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
